body {
  margin: 0;
  background: linear-gradient(90deg,rgba(32, 32, 43, 1) 0%, rgba(16, 17, 21, 1) 100%);
  color: #ffffff;
  line-height: 1.6;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.container {
  width: 85%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 100px 0;
}

.intro-section {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
}

.intro h1 {
  font-size: 2.2rem;
  margin-bottom: 1rem;
}

.role {
  font-size: 1.2rem;
  color: #b18dff;
  margin-bottom: 2rem;
}

.info {
  font-size: 0.95rem;
  margin-bottom: 0.5rem;
}

.detail-section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh
}

.detail .row {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 2.5rem;
  gap: 40px;
}

hr {
  border: none;
  border-top: 1px solid #2b2b2b;
  margin: 2rem 0;
}

.label {
  min-width: 100px;
  color: #a27bf7;
  font-weight: 500;
  flex-shrink: 0;
}

.content {
  color: #ffffff;
  flex: 1;
}

.link {
  text-align: right;
  font-weight: 500;
  font-size: 1rem;
  margin-top: 3rem;
}

.link a {
  color: #c086b8;
  transition: 0.2s;
}

.link a:hover {
  text-decoration: underline;
  opacity: 0.8;
}
